@keyframes spin {
    from {transform: rotate(0deg); }
    to {transform: rotate(180deg); }
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vmin;
}

::-webkit-scrollbar {
    position: absolute;
    left: 0;
    width: 2vmin;
}

::-webkit-scrollbar-track {
    border-radius: 2vmin;
    background-color: lightgrey;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 2vmin;
    border: 0.3vmin solid lightgrey;
}

::-webkit-scrollbar-thumb:hover {
    background-color: grey;
}

textarea {
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

.popup {
    position: absolute;
    padding: 2vmin;
    padding-top: 1vmin;
    z-index: 2;
    width: 60vmin;
    height: 70vmin;
    border: 0.25vmin solid black;
    border-radius: 2vmin;
    background-color: white;
    display: flex;
    overflow-y: auto;
}

.buffer {
    display: grid;
    height: 0;
}

.select {
    background: white;
    outline: none;
    border: none;
    width: 25vmin;
    height: 5vmin;
    font-size: 2vmin;
}

select:hover {
    cursor: pointer;
}

#overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

#tool {
    display: grid;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#settings {
    position: absolute;
    right: 0;
}

.option {
    display: flex;
    align-items: center;
}

.pOption {
    width: 50vmin;
    text-align: left;
}

.pInput {
    margin-right: 1vmin;
    text-align: left;
}

.pDash {
    margin-left: 1vmin;
    margin-right: 1vmin;
}

.pOptional {
    margin-left: 1vmin;
    font-size: 1.5vmin;
}

.textInput {
    outline: none;
    border: 0.2vmin solid black;
    border-radius: 0.5vmin;
    height: 3vmin;
    font-size: 2vmin;
}

.short {
    width: 5vmin;
}

.medium {
    width: 10vmin;
}

.tab {
    margin-left: 2vmin;
}

#textTool {
    height: 25vmin;
    width: 25vmin;
}

#continue {
    margin: 0;
}

.switch {
    position: relative;
    display: inline-block;
    height: 4vmin;
    width: 8vmin;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 2vmin;
    background-color: #ccc;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 3vmin;
    width: 3vmin;
    left: 0.5vmin;
    bottom: 0.5vmin;
    border-radius: 2vmin;
    background-color: white;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:checked + .slider:before {
    transform: translateX(4vmin);
}

h2 {
    height: 5vmin;
}

#left, #right {
    display: grid;
}

.background {
    display: absolute;
    width: 25.5vmin;
    height: 25.5vmin;
    background-color: black;

}

canvas {
    width: 25vmin;
    height: 25vmin;
    border: 0.5vmin solid black;
}

#drawingTool {
    display: flex;
}

button {
    background: white;
    margin: 0.75vmin;
    outline: none;
    border: 0.2vmin solid black;
    border-radius: 1vmin;
    width: 20vmin;
    height: 5vmin;
    font-weight: bold;
    font-size: 1.5vmin;
}

.icon {
    border: none;
    width: 5vmin;
    height: 5vmin;
    padding: 0;
}

button:hover {
    cursor: pointer;
    background: #DDD;
}

#infoIcon {
    width: 2vmin;
    height: 2vmin;
}

#info:hover {
    background-color: white;
}

#info.darkmode {
    background-color: #222;
}

#settings:hover {
    background-color: white;
    animation-name: spin;
    animation-duration: 2s;
}

#settings.darkmode:hover {
    background-color: #222;
}

#type {
    display: grid;
    height: 10vmin;
}

.danger {
    background: #FF0000;
}

.danger:hover {
    background: #CC0000;
}

#center {
    align-items: center;
}

#text {
    width: 25vmin;
    height: 3vmin;
    font-size: 2vmin;
    outline: none;
}

img {
    width: 5vmin;
    height: 5vmin;
}

.darkmode {
    background-color: #222;
    border-color: white;
    color: white;
}

textarea.darkmode {
    background-color: #222;
}

.btn.darkmode:hover {
    background-color: #333;
}

.btn:disabled:hover {
    cursor: not-allowed;
    background: white;
}

.btn.darkmode:disabled {
    color: #BBB;
    border-color: #BBB;
}

.btn.darkmode:disabled:hover {
    background-color: #222;
}

.danger.darkmode {
    background-color: #AA0000;
}

.danger.darkmode:hover {
    background-color: #CC0000;
}

.hide {
    display: none;
}